.zone {
    /*display:inline-block;*/
    text-align: center;
    font-size:16em;
    transition: all 0.3s linear;
    font-size: 25px;
    line-height: 60px;

}




.button {
  display: inline-block;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family:'Ubuntu Mono';
  color: #ccccc0;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #ccccc0;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #ccccc0;
}

.button:hover span {
  padding-right: 25px;
  color: #ccccc0;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  color: #ccccc0;
}
