.menu {
	position: fixed; 
  	top: 0; 
  	width: 100%; 
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ccccc0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  transform: scale(1.3);
}

.container{
	position: relative;
 	color: #ccccc0;
}

.title {
	font-size: 200px;
	font-family: 'Ubuntu Mono';	
    position: absolute;
	top: 60%;
	left: 0%;
}

.msg {
	position: absolute;
	top:90%;
}



.d1 {
    margin-top: 100px;
    margin-left: 300px;
}
.d2 {
	margin-left: -150px;
    margin-top: -700px;
}
.d3 {
    margin-top: -650px;
}
.d4 {
 	margin-top: -1050px;
}
.d5 {
	margin-top: -600px;
    margin-left: 100px;
    font-size: 40px;
    text-align: top;
}
.d6 {
    margin-top: 250px;
	margin-left: 950px;
}



body {
	font-family: 'Ubuntu Mono';
	font-size: 22px;
	color: #ccccc0;
	margin: 0px;
	padding: 0px;
    background-image: url(BG.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.containerTWO {
  position: absolute;
  top: 20%;
  display: grid;
  font-size: 20px;
}

.subject{
  font-size: 30px;
}

.subjectText{
  line-height: normal;
}

.m{
  background-color: none;
}